<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="index.html"><img class="logo" src="images/logo1.png" alt=""></a>
				 <p>Samsun Atakum<br>
				Mevlana Mahallesi</p>
				<p>Ara: <a href="#">05439474064</a></p>
			</div>
			<div class="flex-child-ft item5">
				<h4 ><a href="/user/home">Ana Sayfa</a></h4>
				
			</div>
			<div class="flex-child-ft item5">
				<h4><a href="/user/films/list">Filmler</a></h4>
			</div>
			<div class="flex-child-ft item5">
				<h4><a href="/user/news/list">Duyurular</a></h4>
			</div>
			<div class="flex-child-ft item5">
				<h4>Katıl</h4>
				<!-- <a class="loginLink" href="/login">Giriş Yap <i class="ion-ios-arrow-forward"></i></a> -->
				<a class="signupLink" href="/register">Kayıt Ol <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p>Tüm lisans hakları saklıdır</p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Yukarıya Çık <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>