<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Giriş</h3>
        <form method="post" action="/login">
        	<div class="row">
        		 <label for="username">
                    Kullanıcı Adı:
                    <input type="text" name="userName" id="username" placeholder="Kullanıcı Adı" />
                </label>
        	</div>
           
            <div class="row">
            	<label for="password">
                    Şifre:
                    <input type="password" name="password" id="password" placeholder="******"  />
                </label>
            </div>
           <div class="row">
           	 <button type="submit">Login</button>
           </div>
        </form>
    </div>
</div>
<!--end of login form popup-->
<!--signup form popup-->
