<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <script>document.write(new Date().getFullYear())</script> © Velonic - Theme by <b>Techzaa</b>
            </div>
        </div>
    </div>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var socket = io.connect('http://localhost:3000');
    var onlineUsersDisplay = document.getElementById('onlineUsers');

    socket.on('onlineUsers', function(count) {
      onlineUsersDisplay.textContent = count;
    });
  });
</script>